<div class="box box-info">
    <div class="box-body">
         <div class="table-responsive">
   <table class="table table-bordered table-hover">
       <thead>
           <tr>
               <th>Charging Station</th>
               <th>Started Time</th>
               <th>Duration</th>
               <th>Cost</th>
           </tr>
       </thead>
       <tbody>
       <tr *ngFor="let item of history">
         <td>{{item.charging_station}}</td>
         <td>{{item.start_datetime | date : 'short'}}</td>
         <td>{{item.duration}} sec</td>
         <td>{{item.cost}}</td>
        </tr>
      </tbody>
   </table>
  </div>
  </div>
  </div>